app-login-page {
  --mdc-filled-button-container-color: #007bff;

  .container {
    width: 100%;
    min-height: 100vh;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: flex;
    width: 500px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
  }

  .flipped {
    transform: rotateY(180deg);
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    backface-visibility: hidden;
    border-radius: 20px;
    padding: 0 32px 0;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card__inputs {
    width: 80%;
    place-self: center;
  }

  .card__buttons {
    width: 80%;
    place-self: center;
    display: flex;
    justify-content: space-around;
  }

  .front {
  }

  .back {
    transform: rotateY(180deg);
  }

  .mdc-button__label {
    line-height: normal;
  }

  mat-form-field {
    width: 100%;
  }

  div > mat-form-field:not(:first-child) {
    margin-top: 20px;
  }

  div > mat-form-field:last-of-type {
    margin-bottom: 20px;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  button {
    width: 40%;
  }
}
