<form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()" class="container">
  <div class="container__form">
    <h3>Add a new task</h3>
    <mat-form-field class="container__form-control--long">
      <mat-label>Task name</mat-label>
      <input matInput formControlName="name" />
      <!-- walidacja -->
      <!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    } -->
    </mat-form-field>

    <div class="container__form-control--short--gap">
      <mat-form-field class="container__form-control--short">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          @for (status of statuses; track status) {
            <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="container__form-control--short">
        <mat-label>Progress</mat-label>
        <input type="number" matInput formControlName="progress" />
      </mat-form-field>
    </div>

    <mat-form-field class="container__form-control--long">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        class="container__form-control__textarea"
      ></textarea>
    </mat-form-field>
    <div class="container__form__button">
      <button
        mat-flat-button
        type="submit"
        class="container__form--send"
        [disabled]="!createTaskForm.valid"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
</form>
