app-preview-dialog {
  .dialog {
    margin: 20px;
  }

  .dialog__header {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .dialog__task-progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .dialog__task-progress--left-side {
    width: 10%;
    position: relative;
    bottom: 9px;
  }

  .dialog__task-progress--right-side {
    width: 90%;
  }

  .dialog__description {
    width: 100%;
    margin-top: 20px;
    display: flex;
  }

  .dialog__description--left-side {
    width: 70%;
    height: 100vh;
    white-space: pre-line !important;
  }

  .dialog__description__divider {
    margin-right: 10px;
  }

  .dialog__description--right-side {
    width: 27%;
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-dialog-surface {
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .dialog__edit__header {
    font-size: 28px;
  }

  .container__form__status {
    height: 56px;
  }

  .container {
    background-color: #fffdfd;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .container__form {
    width: 90%;
    position: absolute;
    top: 8%;
    left: 5%;
  }

  .container__form__header {
    font-size: 28px;
  }

  .container__form-control--short--gap {
    display: flex;
    column-gap: 5%;
  }

  .container__form-control--short,
  .container__form-control--long {
    margin-top: 24px;
    width: 100%;
  }

  .container__form__buttons {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  .container__form--send--enabled {
    width: 45%;
    background-color: green;
    color: white;
  }

  .container__form--send--disabled {
    width: 45%;
    background-color: rgb(138, 139, 138);
    color: rgb(47, 47, 47);
  }

  .container__form--cancel {
    width: 45%;
  }

  mat-form-field > .mat-mdc-text-field-wrapper {
    border-radius: 30px;
  }

  mat-form-field {
    width: 100%;
  }

  textarea {
    max-height: 95px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

//Poza ciałem app-preview-dialog, bo to niżej nie dziedziczy po tym komponencie, tylko po rodzicu
.preview-dialog-panel {
  .mat-mdc-dialog-surface {
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
