app-main-page {
  h3 {
    color: white;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #333333;
  }

  .status-category {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    &:last-child {
      margin-right: 15px;
    }
  }

  .category {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    margin: 5px;
    padding: 20px;
    gap: 12px;
    border-radius: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
