<div class="container">
  <div class="container__button">
    <button class="button" (click)="openCreateNewTaskDialog()">
      <mat-icon>add</mat-icon>Task
    </button>
    <div class="container__button--background"></div>
  </div>

  @for (status of statuses; track status) {
    <div class="status-category">
      <h3>{{ status | titlecase }}</h3>

      <div class="category">
        <app-task-status-column
          [tasks]="tasksByStatus()[status]"
          [status]="status"
          (tasksUpdate)="loadAllTasks()"
        ></app-task-status-column>
      </div>
    </div>
  }
</div>
