app-main-page {
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .status-category {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    &:last-child {
      margin-right: 15px;
    }
  }

  .category {
    background-color: #9e9e9e;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    margin: 5px;
    padding: 20px;
    gap: 12px;
    border-radius: 10px;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .category__card {
    height: 100px;
    transition:
      height 1s ease,
      opacity 0.3s ease;

    &:hover {
      height: 300px;
    }
  }

  .category__title {
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: left;
  }

  .category__card:hover .category__title:hover {
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: visible;
  }

  .category__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    text-align: left;

    transition:
      opacity 0.3s ease,
      max-height 0.3s ease;

    transition-delay: 0.2s;
  }

  .category__card:hover .category__content {
    opacity: 1;
    max-height: 500px;
    overflow-y: auto;

    transition-delay: 0.2s; // Opóźnienie animacji po najechaniu na taska
  }

  mat-card-header {
    position: relative;
    justify-content: space-between;
  }

  mat-card > mat-card-content {
    margin-top: 20px;
  }

  mat-divider:last-child {
    display: none;
  }
}
