<div class="dialog">
  <div class="dialog__header">{{ task.name }}</div>
  <div class="dialog__task-progress">
    <div class="dialog__task-progress--left-side">{{ task.progress }} %</div>
    <div class="dialog__task-progress--right-side">
      <mat-progress-bar
        mode="determinate"
        [value]="task.progress"
      ></mat-progress-bar>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="dialog__description">
    <div class="dialog__description--left-side">{{ task.description }}</div>
    <mat-divider
      class="dialog__description__divider"
      [vertical]="true"
    ></mat-divider>
    <div class="dialog__description--right-side">
      <button mat-stroked-button (click)="test()">Edit</button>
      <button mat-stroked-button (click)="deleteTask(task._id!)">Delete</button>
    </div>
  </div>
</div>
